* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.side-bar {
    color: white;
    background-color: rgba(25, 146, 212, 255);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 15px 20px 20px 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 35px;
    list-style-type: none;
}

.nav-heading {
    font-weight: bold;
    font-size: 20px;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.logo {
    width: 43px;
    padding-right: 8px;
}

.side-bar li {
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.nav-icon {
    width: 20px;
    margin-right: 20px;
}

.nav-bar {
    grid-row: 2 / 3;
}

.nav-styles {
    list-style-type: none;
    font-size: 17px;
    font-weight: 500;
}

.nav-styles li {
    padding-bottom: 20px;
}

.setting-bar {
    padding-top: 15px;
    grid-row: 3 / 4;
}

/* end sidebar */

.header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    padding: 17px 0px 0px 30px;
}

.search-icon {
    margin-right: 8px;
    width: 25px;
}

.search-input {
    padding-left: 10px;
    width: 40vw;
    height: 30px;
    background-color: rgba(226, 232, 240, 255);
    border: none;
    border-radius: 15px;
}

.user-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    margin-right: 25px;
    margin-left: 15px;
}

.message-icon {
    width: 30px;
    border-radius: 30px;
    border: 1px solid rgb(197, 197, 197);
}

.user-icon-sm {
    width: 50px;
    border-radius: 30px;
    border: 1px solid rgb(197, 197, 197);
}

.user-name-sm {
    font-size: 20px;
    font-weight: 500;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 50px 20px 0px 20px;
}

.greeting {
    display: flex;
    align-items: center;
    font-weight: bold;

    margin-right: 12px;
}

.user-icon-big {
    width: 70px;
    border-radius: 30px;
    border: 1px solid rgb(197, 197, 197);
    margin-right: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30vw;
    margin-bottom: 18px;
    margin-right: 25px;
}

.btn-header {
    color: white;
    font-weight: 900;
    background-color: rgba(25, 146, 212, 255);
    width: 95px;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-bottom: 5px;
}

/* end header */
.main {
    background-color: rgba(226, 232, 240, 255);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 20px 40px 20px;
    max-height: 100%;
}

.projects {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 20px;
}

h3 {
    margin-block-end: 1em;

}

.projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    background-color: white;
    width: 48%;
    height: 250px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
    min-width: 265px;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(left, #fdcb80, #fcb251 2%, transparent 2%, transparent 100%);
    background-image: -webkit-linear-gradient(left, #fdcb80, #fcb251 2%, transparent 2%, transparent 100%)
}

.project-options {
    display: flex;
    justify-content: flex-end;
}

ul li {
    list-style: none;
    margin-left: 20px;
    display: inline-block;

}

.project-option-img {
    width: 30px;
    margin-right: 10px;
}

.announcements {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-bottom: 10px;
}

.announcement {
    background-color: white;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 20px 20px 20px 25px;
    border-radius: 5px;
    min-width: 231px;
}

hr {
    margin-top: 2em;

}

.trending {
    grid-column: 2/3;
    grid-row: 2/3;
}

.trending-profile {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 20px 20px 20px 25px;
    border-radius: 5px;
    min-width: 231px;
}

.trending-profile img {
    margin-right: 10px;
}